* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background: #f5f6f7;
    background-color: #a2a0cb;
  }
  
  .header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #827ebd;
    color: #d7d4d4;
    border-bottom: 4px solid #7b77ad;
    box-shadow: 0 0 2px 2px #7b77ad;
    border-radius: 15px;
  }
  
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 0 0 2px 2px #827ebd;
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }
  